@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: "Varela Round", sans-serif;
    background: linear-gradient(-45deg, #4d4d4e, #2c2c2cb9, #3a3a3b, #757474);
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
}

h3 {
    color: white;
}

h1 {
    color: white;
}

p {
    color: rgb(255, 255, 255);
}

h6 {
    color: rgb(255, 255, 255);
}

img {
    width: 600px;
    border-radius: 8px;
    border: 4px solid #717171;
}

img:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease;
  }

  li {
    color: white;
    list-style: none;
  }

  .parte1, .parte2,
  .parte3, .parte4, 
  .parte5, .parte6, .parte7 {
    background-color: #14141488;
    border-style: dotted;
    border-radius: 10px;
  }

  button {
    background-color: #757474cb;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 20px;
  }

  button:hover{
    transform: scale(1.02);
    transition: transform 0.4s ease;
  }

  a {
    color: white;
    font-style: none;
    text-decoration: none;
    font-size: 18px;
  }
